{%load bootstrap5%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%if title%}
    <title>{{title}}</title>
    {%endif%}

    {%block styles%}
        {%bootstrap_css%}
    {%endblock%}
</head>

<body>
{%block nav%}
<nav class="nav navbar navbar-inverse navbar-nav">
  <div class="nav nav-wrapper navbar-wrap container-fluid">
    <img src="" class="navbar-brand" alt="">
      <div class="input-group">
          <input type="text" class="form-control navbar-search" placeholder="Search" name="image">
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>
      </div>
      <div class="nav-items">
          <img src="{%static '' %}" class="nav-icon" alt="home-icon">
          <img src="{%static '' %}" class="nav-icon" alt="messenger-icon">
          <img src="{%static '' %}" class="nav-icon" alt="add-icon">
          <img src="{%static '' %}" class="nav-icon" alt="explore-icon">
          <img src="{%static '' %}" class="nav-icon" alt="like-icon">
          <div class="nav-icon profile-icon" style=""></div>
    </div>
  </div>
</nav>
{%endblock%}

{%block content%}
{%endblock%}

{%block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {%bootstrap_javascript%}
{%endblock%}
</body>
</html>