{%load columns%}
{%load bootstrap5%}
{%load static%}

{%block styles%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {%bootstrap_css%}
        <link rel="stylesheet" href="{%static 'css/index.css'%}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
    {%endblock%}


{% block posts %}

<div class="posts">
        <div class="user-posts">
                <div class="user-info">
                        <div class="p-photo">
                                <img src="{%static '' %}" alt="profile-photo" class="p-photo-self">
                                <p class="user-name">

                                </p>
                        </div>
                </div>
                <img src="{%static '' %}" class="options-icon" alt="image">
        </div>
        <img src="{%static '' %}" class="post-image" alt="post-image">
        <div class="post-info">
                <div class="user-action">
                        <img src="{%static '' %}" class="action-icon" alt="icon-like">
                        <img src="{%static '' %}" class="action-icon" alt="icon-comment">
                        <img src="{%static '' %}" class="action-icon" alt="icon-send">
                        <img src="{%static '' %}" class="action-icon icon-save" alt="icon-save">
                </div>
                <p class="post-likes"></p>
                <p class="post-description">
                        <span>
                                {{userame}}
                        </span>

                </p>
                <p class="post-time">

                </p>
        </div>
        <div class="post-comments">
                <img src="{%static '' %}" class="comment-icon" alt="comment-icon">
                <input type="text" class="comment-box" placeholder="Share a comment">
                <button class="btn comment-button">
                        Comment
                </button>
        </div>

</div>

{%endblock%}