{%block recommendations%}

{%for image in galleries%}
<div class="col right-col recommend-col">
    <div class="card recommend-card user-profile-card">
        <div class="user-photo">
            <img src="{{pphoto.p_pic.url}" alt="profile-photo" class="user-photo-recommend">
        </div>
        <div class="user-details">
            <p class="details-username">
                {{image.editor}}
            </p>
            <p class="details-username">
                Beyond the skies
            </p>
        </div>

    </div>
    <p class="recommend-text">
        Suggestions
    </p>
    <div class="card recommend-card">
        <div class="user-photo">
            <img src="" alt="profile-photo" class="user-photo-recommend">
        </div>
        <div class="user-details">
            <p class="details-username">
                Jay
            </p>
            <p class="details-sub-text">
                Looking beyond
            </p>
        </div>
        <form method="post" action="{% url 'feed' user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ folform}}
            <button type="submit" class="btn recommend-button" value="Post">Follow</button>
        </form>
    </div>
</div>
{%endfor%}
{%endblock%}