
{%load columns%}
{%load bootstrap5%}
{%load static%}


{%block styles%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {%bootstrap_css%}
        <link rel="stylesheet" href="{%static 'css/index.css'%}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
    {%endblock%}


{% block content %}


<body>


        <div class="col lef-col status-col" style="margin-left:25%;">
            <div class="wrapper user-wrapper" style="background-color:white;">
                <div class="card status-card user-card">
                    <div class="card-img profile-photo">
                        <img src="" alt="profile-photo">
                    </div>
                    <p class="card-text username">
                        {{username}}
                    </p>
                </div>
            </div>
            {%include 'galleries/posts.html'%}
        </div>



</body>



{%endblock%}