{%load static%}

{%block featured%}
<div class="cuser-featured" role="menu">
    <div class="cuser-featured-container">
        <div class="cuser-featured-wrapper">
            <div class="cuser-featured-content">
                <ul class="cuser-featured-list">
                    <li class="cuser-featured-item" style="transform:translateX(0px);width:24px;">
                    </li>
                    <li class="cuser-featured-item" style="transform:translateX(264px);width:24px;">
                    </li>
                    <li class="cuser-featured-item" style="transform:translateX(24px);" tabindex="-1">
                        <div style="width:125px;">
                            <div aria-disabled="false" role="menuitem" tabindex="0" style="cursor:pointer;">
                                <div aria-disabled="true" role="button" tabindex="-1">
                                    <canvas height="87" width="87" style="position:absolute;top:-5px;left:-5px;width:87px;height:87px;"></canvas>
                                    <div style="width:77px;height:77px;">
                                        <img alt="image" src="{%static 'photos/'%">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        A title here
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}