{%load static%}

{%block profile_photo%}
<div class="profile-photo-card">
    <div class="cuser-profile-photo">
        <div class="cuser-photo">
            <button class="cuser-profile-button" title="Change profile photo">
                <img src="{%static 'photos/' %}" alt="Change profile photo" class="cuser-p-photo">
            </button>
            <div>
                <form enctype="multipart/form-data" method="POST" role="presentation">
                    <input accept="image/jpeg,image/png" class="profile-photo-update" type="file">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}